/* 
- ideas to add / change 

- make page responsive 
- add variables for colors
- change values to em/rem units 
*/

/* GENERAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter Bold", "Helvetica", "Arial", san-serif;
}
body {
  background-color: #092540;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.container p {
  margin: 20px auto;
  line-height: 1.5rem;
  color: #93c3da;
}
.main-header,
footer {
  width: 100%;
  min-height: 80px;
  background-color: #183d5d;
  color: #fb8ae2;
}
h1,
h2 {
  color: white;
}
h3,
span {
  color: #fb8ae2;
}
/* Header styles */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.main-nav {
  width: 50%;
  margin: 20px;
}
.main-nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
}
.main-nav ul li {
  margin: 0 auto;
}
.main-nav ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #93c3da;
}

.main-nav ul li a:hover {
  color: #fb8ae2;
}

.coding-quote-block {
  margin-bottom: 1.5rem;
}

.coding-quotes-title {
  margin-bottom: 16px;
}

.coding-quote {
  font-size: 1.1rem;
  font-style: italic;
  color: #93c3da;
}

.coding-quote-author {
  margin-left: 16px;
  font-size: 0.9rem;
  font-style: italic;
  color: #bcd1db;
}

/* PROJECTS */

.projects {
  display: flex;
  flex-wrap: wrap;
}
.project {
  background-color: #183d5d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 30px auto;
  width: 40%;
  min-width: 300px;
}
.project h3 {
  margin: 10px;
  text-transform: uppercase;
  background: #fff;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 15px;
}
.project-link {
  text-decoration: none;
  color: white;
  background-color: #092540;
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
  position: relative;
  z-index: 0;
}

.project-button {
  text-decoration: none;
  color: white;
  background-color: #092540;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 0;
  border: none;
  font-size: 16px;
}

.lets-code-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

.project-link::before,
.project-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.project-link::after,
.project-button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.project-link:active:after,
.project-button:active:after {
  background: transparent;
}

.project-link:hover:before,
.project-button:hover:before {
  opacity: 1;
}

.project-button:hover {
  cursor: pointer;
}

/* CREATEDBY MEMBERS SECTION */
#member-container {
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: space-evenly;
}
.member {
  width: 300px;
  padding: 30px;
  background: rgb(121, 114, 218);
  background: linear-gradient(90deg, rgba(121, 114, 218, 1) 0%, rgba(251, 138, 226, 1) 97%);
  border-radius: 10px;
  color: #fff;
}

.member:hover {
  width: 110%;
  height: 110%;
  z-index: 999;
  background: black;
}

.member a {
  color: #fff;
  text-decoration: none;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  padding: 4px 8px;
  position: relative;
  top: 10px;;
}

.member a:hover {
  background: whitesmoke;
  color: black;
}

.member h2::before {
  content: "";
  display: block;
  background: url("../img/profile.svg") no-repeat;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Keyframes */

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* FOOTER */

@media (min-width: 768px) {
  .main-nav ul {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
}
