* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
input {
  display: block;
  min-width: 250px;
  margin: 10px auto;
}
.todolist {
  margin: 0 auto;
}
.todo {
  width: 90%;
  min-height: 40px;
  margin: 10px auto;
  padding: 5px;
  background-color: #eee;
}
.todo[data-importance="low"] {
  border-left: 5px solid yellow;
}
.todo[data-importance="medium"] {
  border-left: 5px solid orange;
}
.todo[data-importance="high"] {
  border-left: 5px solid red;
}
h1 {
  margin: 10px 0;
}
#btn__create {
  padding: 10px 20px;
  background-color: rgb(185, 185, 185);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#todo-input {
  width: 50%;
  padding: 10px 40px;
  border: 1px solid #555555;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
