* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #294C60;
  line-height: 1.5em;
}

p {
  color: white;
  margin: 20px 0px;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
input {
  display: block;
  min-width: 250px;
  margin: 10px auto;
}

/* .todo ul li {
  list-style: none;

} */

.complete__btn {
  border: 1px solid #ddd;
  padding: 8px;
  background: black;
  color: white;
  border-radius: 4px;
  font-weight: 800;
  transition: color .5s ease-in-out,
              background .5s ease-in-out;
}

.complete__btn:hover {
  color: #294C60;
  background: white;
}

.todolist {
  margin: 0 auto;
}
.todo {
  width: 90%;
  min-height: 40px;
  margin: 10px auto;
  padding: 25px;
  background-color: #eee;
  color: #294C60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.todo[data-importance="low"] {
  border-left: 5px solid yellow;
}
.todo[data-importance="medium"] {
  border-left: 5px solid orange;
}
.todo[data-importance="high"] {
  border-left: 5px solid red;
}
#btn__create {
  padding: 10px 25px;
  background-color: #fff;
  padding: 10px 20px;
  background-color: rgb(185, 185, 185);
}
#btn__create {
  padding: 10px 25px;
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #294C60;
  font-weight: bold;
  border: 3px solid #ADB6C4;
  /* transition: width 1.5s, height 1.5s, transform 0.8s; */
  transition: background .5s ease-in;
}

#btn__create:hover {
  background: #ADB6C4;
}

/* #btn__create:hover {
  transform: rotate(360deg);
}

#btn__create:hover {
  transform: rotate(360deg);
} */

.btn__complete,
.btn__delete {
  margin: 25px 25px 0 0;
  background-color: #fff;
  color: #000;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  padding: 15px 25px;

  border: 5px solid;
  border-image-source: linear-gradient(45deg, rgb(255, 0, 0), rgb(128, 0, 128));
  border-image-slice: 1;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
}

.btn__complete:hover,
.btn__delete:hover {
  animation: pulse 1s infinite;
  background-color: #000;
  color: #fff;
}

.todo__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3em;
}

#todo-input {
  width: 50%;
  padding: 10px 40px;
  border: 1px solid #555555;
}

#importance {
  padding: 10px 25px;
  background-color: #ADB6C4;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
  color: #fff;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  margin-bottom: 10px;
}

.completed {
  margin: 20px auto;
  width: 100%;
  border-radius: 4px;
}

.todo__complete {
  background: rgba(173, 255, 47, .7);
}

/* Keyframes */

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}